################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BasicRedisLeaderboardDemoDotNetCore
/BasicRedisLeaderboardDemoDotNetCore.Base/bin/Debug/netcoreapp3.1
/BasicRedisLeaderboardDemoDotNetCore.Base/obj
/BasicRedisLeaderboardDemoDotNetCore.BLL/bin/Debug/netcoreapp3.1
/BasicRedisLeaderboardDemoDotNetCore.BLL/obj
